body {
  margin: 0;
  font-family: 'Trebuchet MS';
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background: rgb(223, 221, 221);
}

::-webkit-scrollbar-thumb:hover {
  background: grey;
}

::-webkit-scrollbar-track{
  background: rgb(247, 246, 246);
}

::-webkit-scrollbar{
  width: 5px;
}
